In [ ]:
1	lower()	将Series/Index中的字符串转换为小写。
2	upper()	将Series/Index中的字符串转换为大写。
3	len()	计算字符串长度。
4	strip()	帮助从两侧的系列/索引中的每个字符串中删除空格(包括换行符)。
5	split(' ')	用给定的模式拆分每个字符串。
6	cat(sep=' ')	使用给定的分隔符连接系列/索引元素。
7	get_dummies()	返回具有单热编码值的数据帧(DataFrame)。
8	contains(pattern)	如果元素中包含子字符串，则返回每个元素的布尔值True，否则为False。
9	replace(a,b)	将值a替换为值b。
10	repeat(value)	重复每个元素指定的次数。
11	count(pattern)	返回模式中每个元素的出现总数。
12	startswith(pattern)	如果系列/索引中的元素以模式开始，则返回true。
13	endswith(pattern)	如果系列/索引中的元素以模式结束，则返回true。
14	find(pattern)	返回模式第一次出现的位置。
15	findall(pattern)	返回模式的所有出现的列表。
16	swapcase	变换字母大小写。
17	islower()	检查系列/索引中每个字符串中的所有字符是否小写，返回布尔值
18	isupper()	检查系列/索引中每个字符串中的所有字符是否大写，返回布尔值
19	isnumeric()	检查系列/索引中每个字符串中的所有字符是否为数字，返回布尔值。

In [1]:
import pandas as pd
import numpy as np

#创建测试数据
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234','SteveMinsu'])
print (s)

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6      SteveMinsu
dtype: object

In [2]:
# 1. lower()函数示例
print (s.str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      steveminsu
dtype: object

In [3]:
# 2. upper()函数示例
print (s.str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVEMINSU
dtype: object

In [4]:
# 3. len()函数示例，
print (s.str.len())

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    10.0
dtype: float64

In [5]:
# 4. strip()函数示例
s2 = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s2)
print ("=========== After Stripping ================")
print (s2.str.strip())

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
=========== After Stripping ================
0             Tom
1    William Rick
2            John
3         Alber@t
dtype: object

In [6]:
# 5. split(pattern)函数示例
s2 = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s2)
print ("================= Split Pattern: ==================")
print (s2.str.split(' '))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
================= Split Pattern: ==================
0              [Tom, ]
1    [, William, Rick]
2               [John]
3            [Alber@t]
dtype: object

In [7]:
# 6. cat(sep=pattern)函数示例
s2 = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s2.str.cat(sep=' <=> '))

Tom  <=>  William Rick <=> John <=> Alber@t

In [8]:
# 7. get_dummies()函数示例，变成独热编码，one hot 
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print (s.str.get_dummies())

    William Rick  Alber@t  John  Tom
0              0        0     0     1
1              1        0     0     0
2              0        0     1     0
3              0        1     0     0

In [9]:
# 8. contains()函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.contains(' '))

0     True
1     True
2    False
3    False
dtype: bool

In [10]:
# 9. replace(a,b)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s)
print ("After replacing @ with $: ============== ")
print (s.str.replace('@','$'))

0             Tom
1     William Rick
2             John
3          Alber@t
dtype: object
After replacing @ with $: ==============
0             Tom
1     William Rick
2             John
3          Alber$t
dtype: object

In [11]:
# 10. repeat(value)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.repeat(2))

0                      Tom Tom
1     William Rick William Rick
2                      JohnJohn
3                Alber@tAlber@t
dtype: object

In [12]:
# 11. count(pattern)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])

print ("The number of 'm's in each string:")
print (s.str.count('m'))

The number of 'm's in each string:
0    1
1    1
2    0
3    0
dtype: int64

In [13]:
# 12. startswith(pattern)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that start with 'T':")
print (s.str. startswith ('T'))

Strings that start with 'T':
0     True
1    False
2    False
3    False
dtype: bool

In [14]:
# 13. endswith(pattern)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print ("Strings that end with 't':")
print (s.str.endswith('t'))

Strings that end with 't':
0    False
1    False
2    False
3     True
dtype: bool

In [15]:
# 14. find(pattern)函数示例，没有就返回-1，索引从0开始
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.find('e'))

0   -1
1   -1
2   -1
3    3
dtype: int64

In [19]:
# 15. findall(pattern)函数示例
s = pd.Series(['Tom ', ' William Rick', 'John', 'Alber@t'])
print (s.str.findall('i'))

0           []
1    [i, i, i]
2           []
3           []
dtype: object

In [20]:
# 16. swapcase()函数示例,大小写互换
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.swapcase())

0             tOM
1    wILLIAM rICK
2            jOHN
3         aLBER@T
dtype: object

In [22]:
# 17. islower()函数示例
s = pd.Series(['tom', 'William Rick', 'John', 'Alber@t'])
print (s.str.islower())

0     True
1    False
2    False
3    False
dtype: bool

In [23]:
# 18. isupper()函数示例
s = pd.Series(['TOM', 'William Rick', 'John', 'Alber@t'])
print (s.str.isupper())

0     True
1    False
2    False
3    False
dtype: bool

In [25]:
# 19. isnumeric()函数示例
s = pd.Series(['Tom', '1199','William Rick', 123, 'Alber@t'])
print (s.str.isnumeric())

0    False
1     True
2    False
3      NaN
4    False
dtype: object